<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>冬</key>
	<dict>
		<key>其他</key>
		<array>
			<dict>
				<key>one</key>
				<string>北风卷地白草折</string>
				<key>two</key>
				<string>胡天八月即飞雪</string>
			</dict>
			<dict>
				<key>one</key>
				<string>回乐峰前沙似雪</string>
				<key>two</key>
				<string>受降城外月如霜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>邯郸驿里逢冬至</string>
				<key>two</key>
				<string>抱膝灯前影伴身</string>
			</dict>
			<dict>
				<key>one</key>
				<string>岁暮阴阳催短景</string>
				<key>two</key>
				<string>天涯霜雪霁寒宵</string>
			</dict>
			<dict>
				<key>one</key>
				<string>天津桥下冰初结</string>
				<key>two</key>
				<string>洛阳陌上人行绝</string>
			</dict>
			<dict>
				<key>one</key>
				<string>山雪河冰野萧瑟</string>
				<key>two</key>
				<string>青是烽烟白人骨</string>
			</dict>
			<dict>
				<key>one</key>
				<string>晨起开门雪满山</string>
				<key>two</key>
				<string>雪晴云淡日光寒</string>
			</dict>
			<dict>
				<key>one</key>
				<string>墙角数枝梅</string>
				<key>two</key>
				<string>凌寒独自开</string>
			</dict>
			<dict>
				<key>one</key>
				<string>日月照之何不及此</string>
				<key>two</key>
				<string>唯有北风号怒天上来</string>
			</dict>
			<dict>
				<key>one</key>
				<string>千里黄云白日曛</string>
				<key>two</key>
				<string>北风吹雁雪纷纷</string>
			</dict>
			<dict>
				<key>one</key>
				<string>寒辞去冬雪</string>
				<key>two</key>
				<string>暖带入春风</string>
			</dict>
			<dict>
				<key>one</key>
				<string>旋扑珠帘过粉墙</string>
				<key>two</key>
				<string>轻于柳絮重于霜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>江山不夜月千里</string>
				<key>two</key>
				<string>天地无私玉万家</string>
			</dict>
			<dict>
				<key>one</key>
				<string>黄云万里动风色</string>
				<key>two</key>
				<string>白波九道流雪山</string>
			</dict>
			<dict>
				<key>one</key>
				<string>试拂铁衣如雪色</string>
				<key>two</key>
				<string>聊持宝剑动星文</string>
			</dict>
			<dict>
				<key>one</key>
				<string>寒天催日短</string>
				<key>two</key>
				<string>风浪与云平</string>
			</dict>
			<dict>
				<key>one</key>
				<string>燕山雪花大如席</string>
				<key>two</key>
				<string>纷纷吹落轩辕台</string>
			</dict>
			<dict>
				<key>one</key>
				<string>纷纷暮雪下辕门</string>
				<key>two</key>
				<string>风掣红旗冻不翻</string>
			</dict>
			<dict>
				<key>one</key>
				<string>六出飞花入户时</string>
				<key>two</key>
				<string>坐看青竹变琼枝</string>
			</dict>
			<dict>
				<key>one</key>
				<string>邯郸驿里逢冬至</string>
				<key>two</key>
				<string>抱膝灯前影伴身</string>
			</dict>
		</array>
		<key>雪</key>
		<array>
			<dict>
				<key>one</key>
				<string>忽如一夜春风来</string>
				<key>two</key>
				<string>千树万树梨花开</string>
			</dict>
			<dict>
				<key>one</key>
				<string>窗含西岭千秋雪</string>
				<key>two</key>
				<string>门泊东吴万里船</string>
			</dict>
			<dict>
				<key>one</key>
				<string>晨起开门雪满山</string>
				<key>two</key>
				<string>雪晴云淡日光寒</string>
			</dict>
			<dict>
				<key>one</key>
				<string>燕山雪花大如席</string>
				<key>two</key>
				<string>片片吹落轩辕台</string>
			</dict>
			<dict>
				<key>one</key>
				<string>孤舟蓑笠翁</string>
				<key>two</key>
				<string>独钓寒江雪</string>
			</dict>
			<dict>
				<key>one</key>
				<string>梅须逊雪三分白</string>
				<key>two</key>
				<string>雪却输梅一段香</string>
			</dict>
			<dict>
				<key>one</key>
				<string>三日柴门拥不开</string>
				<key>two</key>
				<string>阶平庭满白皑皑</string>
			</dict>
			<dict>
				<key>one</key>
				<string>北风吹雪四更初</string>
				<key>two</key>
				<string>嘉瑞天教及岁除</string>
			</dict>
			<dict>
				<key>one</key>
				<string>夜深知雪重</string>
				<key>two</key>
				<string>时闻折竹声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>十丈黄尘千尺雪</string>
				<key>two</key>
				<string>可知俱不似江南</string>
			</dict>
			<dict>
				<key>one</key>
				<string>忽如一夜春风来</string>
				<key>two</key>
				<string>千树万树梨花开</string>
			</dict>
			<dict>
				<key>one</key>
				<string>窗含西岭千秋雪</string>
				<key>two</key>
				<string>门泊东吴万里船</string>
			</dict>
			<dict>
				<key>one</key>
				<string>晨起开门雪满山</string>
				<key>two</key>
				<string>雪晴云淡日光寒</string>
			</dict>
			<dict>
				<key>one</key>
				<string>不知庭霰今朝落</string>
				<key>two</key>
				<string>疑是林花昨夜开</string>
			</dict>
			<dict>
				<key>one</key>
				<string>孤舟蓑笠翁</string>
				<key>two</key>
				<string>独钓寒江雪</string>
			</dict>
			<dict>
				<key>one</key>
				<string>梅须逊雪三分白</string>
				<key>two</key>
				<string>雪却输梅一段香</string>
			</dict>
			<dict>
				<key>one</key>
				<string>三日柴门拥不开</string>
				<key>two</key>
				<string>阶平庭满白皑皑</string>
			</dict>
			<dict>
				<key>one</key>
				<string>北风吹雪四更初</string>
				<key>two</key>
				<string>嘉瑞天教及岁除</string>
			</dict>
			<dict>
				<key>one</key>
				<string>夜深知雪重</string>
				<key>two</key>
				<string>时闻折竹声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>十丈黄尘千尺雪</string>
				<key>two</key>
				<string>可知俱不似江南</string>
			</dict>
		</array>
	</dict>
	<key>夏</key>
	<dict>
		<key>其他</key>
		<array>
			<dict>
				<key>one</key>
				<string>小荷才露尖尖角</string>
				<key>two</key>
				<string>早有蜻蜓立上头</string>
			</dict>
			<dict>
				<key>one</key>
				<string>接天莲叶无穷碧</string>
				<key>two</key>
				<string>映日荷花别样红</string>
			</dict>
			<dict>
				<key>one</key>
				<string>明月别枝惊鹊</string>
				<key>two</key>
				<string>清风半夜鸣蝉</string>
			</dict>
			<dict>
				<key>one</key>
				<string>绿树阴浓夏日长</string>
				<key>two</key>
				<string>楼台倒影入池塘</string>
			</dict>
			<dict>
				<key>one</key>
				<string>竹深树密虫鸣处</string>
				<key>two</key>
				<string>时有微凉不是风</string>
			</dict>
			<dict>
				<key>one</key>
				<string>四月清和雨乍晴</string>
				<key>two</key>
				<string>南山当户转分明</string>
			</dict>
			<dict>
				<key>one</key>
				<string>连雨不知春去</string>
				<key>two</key>
				<string>一晴方觉夏深</string>
			</dict>
			<dict>
				<key>one</key>
				<string>仲夏苦夜短</string>
				<key>two</key>
				<string>开轩纳微凉</string>
			</dict>
			<dict>
				<key>one</key>
				<string>月明船笛参差起</string>
				<key>two</key>
				<string>风定池莲自在香</string>
			</dict>
			<dict>
				<key>one</key>
				<string>柳庭风静人眠昼</string>
				<key>two</key>
				<string>昼眠人静风庭柳</string>
			</dict>
			<dict>
				<key>one</key>
				<string>水满有时观下鹭</string>
				<key>two</key>
				<string>草深无处不鸣蛙</string>
			</dict>
			<dict>
				<key>one</key>
				<string>糁径杨花铺白毡</string>
				<key>two</key>
				<string>点溪荷叶叠青钱</string>
			</dict>
			<dict>
				<key>one</key>
				<string>炎威天气日偏长</string>
				<key>two</key>
				<string>汗湿轻罗倚画窗</string>
			</dict>
			<dict>
				<key>one</key>
				<string>清风无力屠得热</string>
				<key>two</key>
				<string>落日着翅飞上山</string>
			</dict>
			<dict>
				<key>one</key>
				<string>风吹古木晴天雨</string>
				<key>two</key>
				<string>月照平沙夏夜霜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>竹摇清影罩幽窗</string>
				<key>two</key>
				<string>两两时禽噪夕阳</string>
			</dict>
			<dict>
				<key>one</key>
				<string>菱透浮萍绿锦池</string>
				<key>two</key>
				<string>夏莺千啭弄蔷薇</string>
			</dict>
			<dict>
				<key>one</key>
				<string>日午独觉无馀声</string>
				<key>two</key>
				<string>山童隔竹敲茶臼</string>
			</dict>
			<dict>
				<key>one</key>
				<string>柳庭风静人眠昼</string>
				<key>two</key>
				<string>昼眠人静风庭柳</string>
			</dict>
			<dict>
				<key>one</key>
				<string>乳鸭池塘水浅深</string>
				<key>two</key>
				<string>熟梅天气半阴晴</string>
			</dict>
		</array>
		<key>雨</key>
		<array>
			<dict>
				<key>one</key>
				<string>卷地风来忽吹散</string>
				<key>two</key>
				<string>望湖楼下水如天</string>
			</dict>
			<dict>
				<key>one</key>
				<string>竹雨侵人气自凉</string>
				<key>two</key>
				<string>南窗睡起望潇湘</string>
			</dict>
			<dict>
				<key>one</key>
				<string>惊风乱颭芙蓉水</string>
				<key>two</key>
				<string>密雨斜侵薜荔墙</string>
			</dict>
			<dict>
				<key>one</key>
				<string>风驱急雨洒高城</string>
				<key>two</key>
				<string>云压轻雷殷地声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>黑云翻墨未遮山</string>
				<key>two</key>
				<string>白雨跳珠乱入船</string>
			</dict>
			<dict>
				<key>one</key>
				<string>晓枝滴甘露</string>
				<key>two</key>
				<string>味落寒泉中</string>
			</dict>
			<dict>
				<key>one</key>
				<string>风雨潇潇夜正寒</string>
				<key>two</key>
				<string>扁舟急桨上危滩</string>
			</dict>
			<dict>
				<key>one</key>
				<string>冥冥江雨湿黄昏</string>
				<key>two</key>
				<string>天入沧洲漫不分</string>
			</dict>
			<dict>
				<key>one</key>
				<string>星河好夜闻清佩</string>
				<key>two</key>
				<string>云雨归时带异香</string>
			</dict>
			<dict>
				<key>one</key>
				<string>黄梅时节家家雨</string>
				<key>two</key>
				<string>青草池塘处处蛙</string>
			</dict>
			<dict>
				<key>one</key>
				<string>此身合是诗人未</string>
				<key>two</key>
				<string>细雨骑驴入剑门</string>
			</dict>
			<dict>
				<key>one</key>
				<string>墙头雨细垂纤草</string>
				<key>two</key>
				<string>水面风回聚落花</string>
			</dict>
			<dict>
				<key>one</key>
				<string>一雁下投天尽处</string>
				<key>two</key>
				<string>万山浮动雨来初</string>
			</dict>
			<dict>
				<key>one</key>
				<string>唤起谪仙泉洒面</string>
				<key>two</key>
				<string>倒倾鲛室泻琼瑰</string>
			</dict>
			<dict>
				<key>one</key>
				<string>溪云初起日沉阁</string>
				<key>two</key>
				<string>山雨欲来风满楼</string>
			</dict>
			<dict>
				<key>one</key>
				<string>南朝四百八十寺</string>
				<key>two</key>
				<string>多少楼台烟雨中</string>
			</dict>
			<dict>
				<key>one</key>
				<string>雨急山溪涨</string>
				<key>two</key>
				<string>云迷岭树低</string>
			</dict>
			<dict>
				<key>one</key>
				<string>岩溜喷空晴似雨</string>
				<key>two</key>
				<string>林萝碍日夏多寒</string>
			</dict>
			<dict>
				<key>one</key>
				<string>海棠不惜胭脂色</string>
				<key>two</key>
				<string>独立蒙蒙烟雨中</string>
			</dict>
			<dict>
				<key>one</key>
				<string>墙头雨细垂纤草</string>
				<key>two</key>
				<string>水面风回聚落花</string>
			</dict>
		</array>
	</dict>
	<key>春</key>
	<dict>
		<key>其他</key>
		<array>
			<dict>
				<key>one</key>
				<string>等闲识得东风面</string>
				<key>two</key>
				<string>万紫千红总是春</string>
			</dict>
			<dict>
				<key>one</key>
				<string>春江潮水连海平</string>
				<key>two</key>
				<string>海上明月共潮生</string>
			</dict>
			<dict>
				<key>one</key>
				<string>碧玉妆成一树高</string>
				<key>two</key>
				<string>万条垂下绿丝绦</string>
			</dict>
			<dict>
				<key>one</key>
				<string>几处早莺争暖树</string>
				<key>two</key>
				<string>谁家新燕啄春泥</string>
			</dict>
			<dict>
				<key>one</key>
				<string>乱花渐欲迷人眼</string>
				<key>two</key>
				<string>浅草才能没马蹄</string>
			</dict>
			<dict>
				<key>one</key>
				<string>春风又绿江南岸</string>
				<key>two</key>
				<string>明月何时照我还</string>
			</dict>
			<dict>
				<key>one</key>
				<string>新年都未有芳华</string>
				<key>two</key>
				<string>二月初惊见草芽</string>
			</dict>
			<dict>
				<key>one</key>
				<string>今夜偏知春气暖</string>
				<key>two</key>
				<string>虫声新透绿窗纱</string>
			</dict>
			<dict>
				<key>one</key>
				<string>春山暖日和风</string>
				<key>two</key>
				<string>阑干楼阁帘栊</string>
			</dict>
			<dict>
				<key>one</key>
				<string>千里莺啼绿映红</string>
				<key>two</key>
				<string>水村山郭酒旗风</string>
			</dict>
			<dict>
				<key>one</key>
				<string>最是一年春好处</string>
				<key>two</key>
				<string>绝胜烟柳满皇都</string>
			</dict>
			<dict>
				<key>one</key>
				<string>草长莺飞二月天</string>
				<key>two</key>
				<string>拂堤杨柳醉春烟</string>
			</dict>
			<dict>
				<key>one</key>
				<string>春色满园关不住</string>
				<key>two</key>
				<string>一枝红杏出墙来</string>
			</dict>
			<dict>
				<key>one</key>
				<string>竹外桃花三两枝</string>
				<key>two</key>
				<string>春江水暖鸭先知</string>
			</dict>
			<dict>
				<key>one</key>
				<string>金炉香烬漏声残</string>
				<key>two</key>
				<string>剪剪轻风阵阵寒</string>
			</dict>
			<dict>
				<key>one</key>
				<string>草树知春不久归</string>
				<key>two</key>
				<string>百般红紫斗芳菲</string>
			</dict>
			<dict>
				<key>one</key>
				<string>燕子不归春事晚</string>
				<key>two</key>
				<string>一汀烟雨杏花寒</string>
			</dict>
			<dict>
				<key>one</key>
				<string>湖上春来似画图</string>
				<key>two</key>
				<string>乱峰围绕水平铺</string>
			</dict>
			<dict>
				<key>one</key>
				<string>迟日江山丽</string>
				<key>two</key>
				<string>春风花草香</string>
			</dict>
			<dict>
				<key>one</key>
				<string>昨夜东风入武阳</string>
				<key>two</key>
				<string>陌头杨柳黄金色</string>
			</dict>
		</array>
		<key>雨</key>
		<array>
			<dict>
				<key>one</key>
				<string>沾衣欲湿杏花雨</string>
				<key>two</key>
				<string>吹面不寒杨柳风</string>
			</dict>
			<dict>
				<key>one</key>
				<string>有情芍药含春泪</string>
				<key>two</key>
				<string>无力蔷薇卧晓枝</string>
			</dict>
			<dict>
				<key>one</key>
				<string>柳枝经雨重</string>
				<key>two</key>
				<string>松色带烟深</string>
			</dict>
			<dict>
				<key>one</key>
				<string>有时三点两点雨</string>
				<key>two</key>
				<string>到处十枝五枝花</string>
			</dict>
			<dict>
				<key>one</key>
				<string>孤村树色昏残雨</string>
				<key>two</key>
				<string>远寺钟声带夕阳</string>
			</dict>
			<dict>
				<key>one</key>
				<string>半壕春水一城花</string>
				<key>two</key>
				<string>烟雨暗千家</string>
			</dict>
			<dict>
				<key>one</key>
				<string>残虹收度雨</string>
				<key>two</key>
				<string>缺岸上新流</string>
			</dict>
			<dict>
				<key>one</key>
				<string>好雨知时节</string>
				<key>two</key>
				<string>当春乃发生</string>
			</dict>
			<dict>
				<key>one</key>
				<string>细雨鱼儿出</string>
				<key>two</key>
				<string>微风燕子斜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>竹香新雨后</string>
				<key>two</key>
				<string>莺语落花中</string>
			</dict>
			<dict>
				<key>one</key>
				<string>芳草满庭飞燕子</string>
				<key>two</key>
				<string>晚凉和雨在梧桐</string>
			</dict>
			<dict>
				<key>one</key>
				<string>渭城朝雨浥轻尘</string>
				<key>two</key>
				<string>客舍青青柳色新</string>
			</dict>
			<dict>
				<key>one</key>
				<string>天街小雨润如酥</string>
				<key>two</key>
				<string>草色遥看近却无</string>
			</dict>
			<dict>
				<key>one</key>
				<string>水光潋艳晴方好</string>
				<key>two</key>
				<string>山色空蒙雨亦奇。</string>
			</dict>
			<dict>
				<key>one</key>
				<string>小楼一夜听春雨</string>
				<key>two</key>
				<string>深巷明朝卖杏花</string>
			</dict>
			<dict>
				<key>one</key>
				<string>自在飞花轻似梦</string>
				<key>two</key>
				<string>无边丝雨细如愁</string>
			</dict>
			<dict>
				<key>one</key>
				<string>人间尽似逢花雨</string>
				<key>two</key>
				<string>莫爱芳菲湿绮罗</string>
			</dict>
			<dict>
				<key>one</key>
				<string>小楼一夜听春雨</string>
				<key>two</key>
				<string>深巷明朝卖杏花</string>
			</dict>
			<dict>
				<key>one</key>
				<string>春水碧于天</string>
				<key>two</key>
				<string>画船听雨眠</string>
			</dict>
			<dict>
				<key>one</key>
				<string>燕子不归春事晚</string>
				<key>two</key>
				<string>一汀烟雨杏花寒</string>
			</dict>
		</array>
	</dict>
	<key>秋</key>
	<dict>
		<key>其他</key>
		<array>
			<dict>
				<key>one</key>
				<string>睡起秋声无觅处</string>
				<key>two</key>
				<string>满阶梧叶日明中</string>
			</dict>
			<dict>
				<key>one</key>
				<string>未觉池塘春草梦</string>
				<key>two</key>
				<string>阶前梧叶已秋声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>夜深风竹敲秋韵</string>
				<key>two</key>
				<string>万叶千声皆是恨</string>
			</dict>
			<dict>
				<key>one</key>
				<string>蟋蟀独知秋令早</string>
				<key>two</key>
				<string>芭蕉下得雨声多</string>
			</dict>
			<dict>
				<key>one</key>
				<string>晴空一鹤排云上</string>
				<key>two</key>
				<string>便引诗情到碧霄</string>
			</dict>
			<dict>
				<key>one</key>
				<string>银烛秋光冷画屏</string>
				<key>two</key>
				<string>轻罗小扇扑流萤</string>
			</dict>
			<dict>
				<key>one</key>
				<string>孤村落日残霞</string>
				<key>two</key>
				<string>轻烟老树寒鸦</string>
			</dict>
			<dict>
				<key>one</key>
				<string>无边落木萧萧下</string>
				<key>two</key>
				<string>不尽长江滚滚来</string>
			</dict>
			<dict>
				<key>one</key>
				<string>月落乌啼霜满天</string>
				<key>two</key>
				<string>江枫渔火对愁眠</string>
			</dict>
			<dict>
				<key>one</key>
				<string>峨眉山月半轮秋</string>
				<key>two</key>
				<string>影入平羌江水流</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋风起兮白云飞，</string>
				<key>two</key>
				<string>草木黄落兮雁南归</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋风起兮木叶飞</string>
				<key>two</key>
				<string>吴江水兮鲈正肥</string>
			</dict>
			<dict>
				<key>one</key>
				<string>丛菊两开他日泪</string>
				<key>two</key>
				<string>孤舟一系故园心</string>
			</dict>
			<dict>
				<key>one</key>
				<string>寒日萧萧上琐窗</string>
				<key>two</key>
				<string>梧桐应恨夜来霜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>金井梧桐秋叶黄</string>
				<key>two</key>
				<string>珠帘不卷夜来霜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>榈庭多落叶</string>
				<key>two</key>
				<string>慨然知已秋</string>
			</dict>
			<dict>
				<key>one</key>
				<string>井桐双照新妆冷</string>
				<key>two</key>
				<string>冷妆新照双桐井</string>
			</dict>
			<dict>
				<key>one</key>
				<string>雨中百草秋烂死</string>
				<key>two</key>
				<string>阶下决明颜色鲜</string>
			</dict>
			<dict>
				<key>one</key>
				<string>雨色秋来寒</string>
				<key>two</key>
				<string></string>
			</dict>
			<dict>
				<key>one</key>
				<string>自古逢秋悲寂寥</string>
				<key>two</key>
				<string>我言秋日胜春朝</string>
			</dict>
		</array>
		<key>雨</key>
		<array>
			<dict>
				<key>one</key>
				<string>但觉衣裳湿</string>
				<key>two</key>
				<string>无点亦无声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋阴不散霜飞晚</string>
				<key>two</key>
				<string>留得枯荷听雨声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>乱叶和凄雨</string>
				<key>two</key>
				<string>投空如散丝</string>
			</dict>
			<dict>
				<key>one</key>
				<string>困卧北窗呼不起</string>
				<key>two</key>
				<string>风吹松竹雨凄凄</string>
			</dict>
			<dict>
				<key>one</key>
				<string>寒雨连江夜入吴</string>
				<key>two</key>
				<string>平明送客楚山孤</string>
			</dict>
			<dict>
				<key>one</key>
				<string>凄风午时序</string>
				<key>two</key>
				<string>苦雨遂成霖</string>
			</dict>
			<dict>
				<key>one</key>
				<string>人生难得秋前雨</string>
				<key>two</key>
				<string>乞我虚堂自在眠</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋风秋雨愁煞人</string>
				<key>two</key>
				<string>寒宵独坐心如捣</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋阴不散霜飞晚</string>
				<key>two</key>
				<string>留得枯荷听雨声</string>
			</dict>
			<dict>
				<key>one</key>
				<string>雨水夹明镜</string>
				<key>two</key>
				<string>双桥落彩虹</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋雨连绵下不休</string>
				<key>two</key>
				<string>岂知世上许多愁</string>
			</dict>
			<dict>
				<key>one</key>
				<string>秋雨丁冬落满城</string>
				<key>two</key>
				<string>西风瑟瑟叶迷蒙</string>
			</dict>
			<dict>
				<key>one</key>
				<string>落叶飘零秋雨急</string>
				<key>two</key>
				<string>田园一望景支离</string>
			</dict>
			<dict>
				<key>one</key>
				<string>寒雨连江夜入吴</string>
				<key>two</key>
				<string>平明送客楚山孤</string>
			</dict>
			<dict>
				<key>one</key>
				<string>红楼隔雨相望冷 </string>
				<key>two</key>
				<string>珠箔飘灯独自归</string>
			</dict>
			<dict>
				<key>one</key>
				<string>已是黄昏独自愁</string>
				<key>two</key>
				<string>更著风和雨</string>
			</dict>
			<dict>
				<key>one</key>
				<string>君问归期未有期</string>
				<key>two</key>
				<string>巴山夜雨涨秋池</string>
			</dict>
			<dict>
				<key>one</key>
				<string>粉蝶双双穿槛舞</string>
				<key>two</key>
				<string>帘卷晚天疏雨</string>
			</dict>
			<dict>
				<key>one</key>
				<string>高楼目尽欲黄昏</string>
				<key>two</key>
				<string>梧桐叶上萧萧雨</string>
			</dict>
			<dict>
				<key>one</key>
				<string>夜阑卧听风吹雨</string>
				<key>two</key>
				<string>铁马冰河入梦来</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
